{% templatetag openblock %} load i18n static  {% templatetag closeblock %}<!DOCTYPE html>
<html lang="{% templatetag openvariable %} settings.LANGUAGE_CODE {% templatetag closevariable %}" >
    <head>
        <meta charset="utf-8">
        <title>{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name|title }}{% templatetag openblock %} endblock {% templatetag closeblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{% templatetag openblock %} static 'css/screen.css' {% templatetag closeblock %}" media="screen" rel="stylesheet" />
        {% templatetag openblock %} block extra_css {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
        <link rel="shortcut icon" href="{% templatetag openblock %} static 'ico/favicon.png' {% templatetag closeblock %}">
    </head>

    <body class="{% templatetag openblock %} block body-class {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}">

        <main>
            {% templatetag openblock %} block content {% templatetag closeblock %}
                Override <code>{% templatetag openblock %} verbatim {% templatetag closeblock %}{% templatetag openblock %} block content {% templatetag closeblock %}{% templatetag openblock %} endverbatim {% templatetag closeblock %}</code>
                to get some actual content.
            {% templatetag openblock %} endblock {% templatetag closeblock %}
        </main>

        {% if dsn %}
            <script src="https://cdn.ravenjs.com/3.15.0/raven.min.js"></script>
            <script>Raven.config({{ dsn }}).install();</script>
        {% endif %}
        <script src="{% templatetag openblock %} static 'js/{{ project_name|lower }}.js' {% templatetag closeblock %}"></script>
    </body>
</html>
